<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Network permissions for cloud synchronization -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <!-- Location permissions for automatic location pickup -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".YogaAdminApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Yogaadminapp"
        tools:targetApi="31">
        
        <!-- Login Activity - Entry point with authentication -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Register Activity -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        
        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:parentActivityName=".LoginActivity" />
        
        <!-- Add Yoga Class Activity -->
        <activity
            android:name=".AddYogaClassActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        
        <!-- Confirmation Activity -->
        <activity
            android:name=".ConfirmationActivity"
            android:exported="false"
            android:parentActivityName=".AddYogaClassActivity" />
        
        <!-- View Yoga Classes Activity -->
        <activity
            android:name=".ViewYogaClassesActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        
        <!-- Class Details Activity -->
        <activity
            android:name=".ClassDetailsActivity"
            android:exported="false"
            android:parentActivityName=".ViewYogaClassesActivity" />
        
        <!-- Edit Yoga Class Activity -->
        <activity
            android:name=".EditYogaClassActivity"
            android:exported="false"
            android:parentActivityName=".ViewYogaClassesActivity" />
        
        <!-- Search Yoga Classes Activity -->
        <activity
            android:name=".SearchYogaClassesActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        
        <!-- Manage Class Instances Activity -->
        <activity
            android:name=".ManageClassInstancesActivity"
            android:exported="false"
            android:parentActivityName=".ViewYogaClassesActivity" />
        
        <!-- Cloud Sync Activity -->
        <activity
            android:name=".CloudSyncActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        
        <!-- Booking Activity -->
        <activity
            android:name=".BookingActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        
    </application>

</manifest>